
 .text-green {
  color: #10ca44;
}


.button-add {
  width: 100%;
  margin-top: 15px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: rgba(4, 128, 218, 0.08);
  color: #0480da;
  border: 2px dashed rgba(4, 128, 218, 0.6);
}
.button-add:hover {
  background-color: rgba(var(--color-primary-d-1), 1);
  color: white;
}

