<div class="card">
	<div class="card-body">
		<h2 class="card-title">are you sure ?</h2>
		<p class="card-text">item delete permanently </p>
	</div>
	<div class="card-footer">
		<div class="d-flex justify-content-end">
      <button
      type="button"
      (click)="closeDialog()"
      class="mx-2 mr-1"
      mat-raised-button
      color="warn"
			>
      YES
    </button>
    <button class="mx-2" mat-dialog-close mat-raised-button color="primary">
      NO
    </button>

		</div>
	</div>
</div>
