<div class="list-item grid mt-2" sm="cols-12">
  <div class="list-item-title" sm="col-3">University Name</div>
  <div sm="col-9">{{item.university}}</div>
  <div class="list-item-title" sm="col-3">Major</div>
  <div sm="col-9">{{item.major}}</div>
  <div class="list-item-title" sm="col-3">Degree</div>
  <div sm="col-9">{{item.degree}}</div>
  <div class="list-item-title" sm="col-3">
    Fund status & Amount
  </div>
  <div sm="col-9">{{item.found | fundStatus}}</div>
  <div class="list-item-title" sm="col-3">
    Application Status
  </div>
  <div class="status-accepted" sm="col-9">
    <svg
      width="16"
      height="12"
      viewBox="0 0 16 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M5.46691 9.06217L1.70488 5.43723L0.375 6.71864L5.46691 11.625L15.8125 1.65642L14.4826 0.375L5.46691 9.06217Z"
        fill="currentColor"
      />
    </svg>
    {{item.status | applicationStatue}}
  </div>

  <div class="info">
    <a  >
      <div (click)="toggelDropDown()" class="dots"></div>
    </a>
    <div class="dropdown-menu" [ngClass]="DropDown?'show-drop-down':'hide-drop-down'">
      <a (click)="toggelDropDown()" class="dropdown-item" href="#">Edit</a>
      <a (click)="toggelDropDown()" class="dropdown-item" href="#">Delete</a>
    </div>
  </div>
</div>
